@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ubuntu:wght@700&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
}
body{
    color: #ffff;
    background-color: #ffff;
}
body::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    opacity: .5;
    z-index: -1;
}
.App{
    height: 100vh;
}

/*Classes para background e icon dinâmicos*/
.Clouds{
	content: url("./img/cloud-icon.png");
}
#Clouds{
	background-image: url("./img/few-clouds.jpg");
    background-size: cover;
    z-index: 1;
}
.Thunderstorm{
	content: url("./img/rain-icon.png");
}
#Thunderstorm{
	background-image: url("./img/thunderstorm.jpg");
    background-size: cover;
    z-index: 1;
}
.Drizzle{
	content: url("./img/rain-icon.png");
}
#Drizzle{
	background-image: url("./img/rain.jpg");
    background-size: cover;
    z-index: 1;
}
.Rain{
	content: url("./img/rain-icon.png");
}
#Rain{
	background-image: url("./img/rain.jpg");
    background-size: cover;
    z-index: 1;
}
.Snow{
	content: url("./img/snow-icon.png");
}
#Snow{
	background-image: url("./img/snow.jpg");
    background-size: cover;
    z-index: 1;
}
.Mist{
	content: url("./img/mist-icon.png");
}
#Mist{
	background-image: url("./img/mist.jpg");
    background-size: cover;
    z-index: 1;
}
.Clear{
	content: url("./img/clear-sky-icon.png");
}
#Clear{
	background-image: url("./img/clear-sky.jpg");
    background-size: cover;
    z-index: 1;
}

.search-Location{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.css-1s2u09g-control,
.css-1pahdxg-control{
    color: #000000 !important;
    background-color: rgba(255, 255, 255, 0.438) !important;
}

.css-14el2xx-placeholder{
    color: #000000 !important;
}

#react-select-3-listbox{
    background-color: rgba(255, 255, 255, 0.904) !important;
}
.css-319lph-ValueContainer{
    cursor: text !important;
}
.css-b62m3t-container{
    font-family: 'Raleway';
    color: black;
    padding: 5.5px;
    font-size: 1.2rem;
    border: none; 
    width: 500px;
    border-radius: 5px;
    text-align: center;
    cursor: text !important;
}
button {
    margin-left: 5px;
    padding: 6px 10px;
    background: #ddd;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
button:hover {
    background: #ccc;
}
.weather-Location{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.weather-Data {
    margin-top: 40px;
}
.weather-Data .top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-Data img{
    height: 90px;
    margin-right: 10px;
}
.weather-Data h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
}
.weather-Data h3{
  margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .App{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    .search-Location{
        padding-top: 30px;
        margin: 0;
    }
    .cloud--bg,
    .thunderstorm--bg,
    .drizzle--bg,
    .rain--bg,
    .snow--bg,
    .mist--bg,
    .clear--bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    #react-select-3-listbox,
    .css-b62m3t-container,
    .css-1s2u09g-control{
        width: 310px;
    }
    .search-Location input[type=search]{
        font-size: 1.3rem;
        width: 380px;
        background-color: rgba(255, 255, 255, 0.281);
    }
    .search-Location button{
        font-size: 1.3rem;
    }
    .weather-Location{
        margin-top: 40px;
        font-size: 0.6rem;
        letter-spacing: 5px;
    }
    .weather-Data{
        margin-top: 10px;
    }
    .weather-Data img{
        height: 70px;
    }
    .weather-Data .top h2{
        font-size: 3rem;
    }
    .weather-Data h3{
        margin-top: 5px;
        font-size: 1.5rem;
    }
    .copy p{
        margin: 0.7rem !important;
    }
}
@media only screen and (max-width: 470px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }
    .search-Location input[type=search]{
        font-size: 1rem;
        width: 250px;
        background-color: rgba(255, 255, 255, 0.281);
    }
    .search-Location button{
        font-size: 1rem;
    }
    .search-Location button img{
      height: 17px;
    }
    .weather-Location{
        margin-top: 40px;
        font-size: 0.6rem;
        letter-spacing: 3px;
    }
    .weather-Data{
        margin-top: 10px;
    }
    .weather-Data img{
        height: 50px;
    }
    .weather-Data .top h2{
        font-size: 2rem;
    }
    .weather-Data h3{
        margin-top: 5px;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 280px) {
    #react-select-3-listbox,
    .css-b62m3t-container,
    .css-1s2u09g-control{
        width: 200px;
    }
    .css-14el2xx-placeholder,
    .copy p{
        font-size: 0.9rem !important;
    }
}
.copy{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.459);
}
.copy p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #000000  !important;
    margin: 0.5rem;
}